rules_version = "2";
service cloud.firestore {
	match /databases/{database}/documents {
		match /users/{userId} {
			allow read: if request.auth != null && request.auth.uid == userId;

			match /transcripts/{transcriptId} {
				allow read: if request.auth != null && request.auth.uid == userId;
        allow delete: if request.auth != null && request.auth.uid == userId;
        allow update: if (request.auth != null && request.auth.uid == userId) && 
          (request.resource.data.diff(resource.data).affectedKeys()
            .hasOnly(['name', 'patchCursor']));
        
        match /patches/{patchId} {
          allow read: if request.auth != null && request.auth.uid == userId;
          allow write: if request.auth != null && request.auth.uid == userId;
        }
			}
		}
	}
}
