html {
  --text: #242230;
  --secondary-text: #525666;
  --light-text: var(--grey4);
  
  --weak-focus: #9CAFD3;
  --focus: #8BA861;
  --strong-focus: #E47A77;

  --info: #9CAFD3;
  --warn: #F6AE2D;
  --error: #E47A77;

  --primary: #8BA861;
  --secondary: #9CAFD3;

  --page-background: #E9EBED;
  --border: #D2D4DB;
  --form-border: #525666;

  --grey1: #242230;
  --grey2: #525666;
  --grey3: #D2D4DB;
  --grey4: #E9EBED;

  --red-1: #BB2A25;
  --red-2: #DA4944;
  --red-3: #E47A77;
  
  --yellow-1: #EB9C0A;
  --yellow-2: #F6AE2D;
  --yellow-3: #F8C462;
  
  --green-1: #607641;
  --green-2: #769150;
  --green-3: #8BA861;
  
  --blue-1: #4C6CA9;
  --blue-2: #728DC0;
  --blue-3: #9CAFD3;
}

html {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: var(--text);
  background-color: var(--page-background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
}

nav {
  position: sticky;
  height: 64px;
}

.narrow-container {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  height: 100%;
}

.demo {
  width: 50vw;
  height: 50vh;
}

h1 {
  font-weight: bold;
  font-size: 3em;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

h2 {
  font-weight: normal;
  font-size: 1.5em;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

.cta-container {
  margin-block-start: 3em;
}

.cta-button {
  font-size: 2em;
  padding: 0.5em 2em 0.5em 2em;
  background-color: var(--green-3);
  transition-property: background-color, color;
  transition-duration: 200ms;
  border: none;
  border-radius: 0.5em;
  outline: none;
}

.cta-button:hover {
  background-color: var(--blue-1);
  color: var(--light-text)
}

.cta-button:active {
  /* box-shadow: inset 0 3px 5px rgba(0,0,0,.125); */
  box-shadow: inset 2px 3px 5px rgba(0,0,0,0.25);
}

.cta-detail {
  margin-block-start: 0.2em;
  font-style: italic;
}

.description {
  margin-top: 2em;
  font-size: 1.5em;
  margin-bottom: 2em;
}

.description p {
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}