html {
  --text: #242230;
  --secondary-text: #525666;
  --light-text: var(--grey-4);
  
  --weak-focus: #9CAFD3;
  --focus: #8BA861;
  --strong-focus: #E47A77;

  --info: #9CAFD3;
  --warn: #F6AE2D;
  --error: #E47A77;

  --primary: #8BA861;
  --secondary: #9CAFD3;

  --page-background: #E9EBED;
  --border: #D2D4DB;
  --form-border: #525666;

  --grey-1: #242230;
  --grey-2: #525666;
  --grey-3: #D2D4DB;
  --grey-4: #E9EBED;

  --red-1: #BB2A25;
  --red-2: #DA4944;
  --red-3: #E47A77;
  
  --yellow-1: #EB9C0A;
  --yellow-2: #F6AE2D;
  --yellow-3: #F8C462;
  
  --green-1: #607641;
  --green-2: #769150;
  --green-3: #8BA861;
  
  --blue-1: #4C6CA9;
  --blue-2: #728DC0;
  --blue-3: #9CAFD3;
}

html {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: var(--text);
  background-color: var(--page-background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.hero {
  display: grid;
  grid-template-columns: 4fr 4fr;
  gap: 2em;
  justify-items: center;
  align-items: center;

  margin-top: 11em;
  margin-bottom: 3em;
  margin-right: 5em;
  margin-left: 10em;
}

.narrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 64px;

  background-color: var(--yellow-3);
  border-bottom: 2px solid var(--form-border);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.logo {
  height: 90%;
  margin: 1em;
}

.demo-container {
  background-color: var(--page-background);
  position: relative;
  width: 100%;
  max-width: 60em;
  height: 500px;
  justify-self: flex-end;

  border: 2px solid var(--form-border);
  border-radius: 10px;
  box-shadow: 5px 5px 5px -2px var(--blue-3);
  grid-row: span 3;
}

.demo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 450px;
  padding: 0.5em;

  border-radius: 10px;

  margin-top: 3em;
  
  border: none;
}

.demo-prompt {
  position: absolute;
  top: -1em;
  left: -4em;
  font-size: 2em;
  z-index: 2;
  transform: rotateZ(-25deg);

  background-color: var(--blue-1);
  color: var(--light-text);
  box-shadow: 5px 5px 5px -2px var(--blue-3);
  padding: 0.5em;
  border-radius: 0.5em;
}

.demo-fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: -0.5em;
  right: -0.5em;
  z-index: 2;

  height: 1.75em;
  width: 1.75em;
  font-size: 2em;
  font-weight: normal;

  background-color: var(--blue-1);
  color: var(--light-text);
  border-radius: 100%;
  box-shadow: 5px 5px 5px -2px var(--blue-3);

  transition-property: background-color, color;
  transition-duration: 200ms;
}

.demo-fullscreen:hover {
  background-color: var(--green-3);
  color: var(--text);
}

.demo-fullscreen:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.demo-fullscreen .demo-fullscreen-tooltip {
  position: absolute;
  opacity: 0;
  z-index: 3;

  font-size: 0.75em;

  background-color: var(--green-3);
  color: var(--text);
  border-radius: 0.5em;
  padding: 0.25em 0.5em 0.25em 0.5em;

  bottom: calc(100% - 0.5em);
  right: 50%;
  width: auto;

  transition-property: opacity;
  transition-duration: 200ms;
}

.demo-fullscreen:hover .demo-fullscreen-tooltip {
  opacity: 1;
}

h1 {
  font-weight: bold;
  font-size: 4em;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
}

h2 {
  font-weight: normal;
  font-size: 2.5em;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

.cta-button {
  font-size: 1.4em;
  padding: 0.5em 1em 0.5em 1em;
  transition-property: background-color, color;
  transition-duration: 200ms;
  border: none;
  border-radius: 0.5em;
  outline: none;
  cursor: pointer;
  text-decoration: none;

  background-color: var(--blue-1);
  color: var(--light-text);
}

.cta-button:hover {
  background-color: var(--green-3);
  color: var(--text);
}

.cta-button:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

nav .cta-button {
  font-size: 1.5em;
  margin-right: 0.5em;
  padding: 0.3em 0.5em 0.3em 0.5em;
}

/* TODO convert the description to a grid based system with responsive breakpoints */

.description {
  font-size: 1.5em;
  padding-left: 0;

  width: 90%;
  max-width: 65em;

  list-style-type: none;

  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;

  z-index: 1;
}

.description li {
  padding: 0.7em;

  border-color: var(--blue-1);
  border-width: 3px;
  border-bottom-style: solid;

  display: flex;
  justify-content: center;
  align-items: center;
}

.description li:first-child {
  border-left-style: solid;
  border-bottom-style: solid;
  border-bottom-left-radius: 0.5em;
}

.description li:last-child {
  border-right-style: solid;
  border-bottom-style: solid;
  border-bottom-right-radius: 0.5em;
}

.comparison ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  width: 45em;
  max-width: 100%;

  padding: 0;
}

.comparison li {
  margin-block-start: 1em;
  margin-block-end: 1em;

  filter: drop-shadow(2px 2px 3px var(--blue-3));
}

.comparison-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 6em;

  background-color: var(--blue-1);
  color: var(--light-text);

  clip-path: polygon(
    0 0,
    calc(100% - 5em) 0,
    100% 50%,
    calc(100% - 5em) 100%,
    0 100%,
    2em 50%
  );
}

.comparison-topic {
  width: 50%;
  height: 100%;
}

.comparison-reason {
  width: 50%;
  height: 100%;
}

.comparison p {
  margin: 0;
}

.comparison-topic h2 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

.comparison li:first-child {
  margin-top: 0;
}

.comparison li:last-child {
  margin-bottom: 0;
}

.comparison-reason p {
  font-size: 1.2em;
}

.comparison-reason p:first-child {
  font-size: 1.5em;
  font-weight: bold;
}




.explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 70em;
  max-width: 90vw;
  margin: auto;
}

.explanation ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.explanation li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.explanationSectionHeader {
  position: relative;

  align-self: stretch;
  flex-shrink: 0;
  flex-basis: 15em;

  margin: 0;
  margin-right: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.explanation h2 {
  background-color: var(--blue-1);
  color: var(--light-text);
  border-radius: 1em;
  padding: 0.5em 0 0.5em 0;
  box-shadow: 5px 5px 5px -2px var(--blue-3);
}

.explanationSectionHeader:before {
  content: "";
  width: 0.5em;
  transform: translateX(-50%);

  background-color: var(--yellow-1);

  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  z-index: -1;
}

li:first-child .explanationSectionHeader:before {
  top: 10%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

li:last-child .explanationSectionHeader:before {
  bottom: 10%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.explanation p {
  font-size: 1.5em;
  margin: 0;
  flex-grow: 1;
  flex-shrink: 1;

  padding: 1em;
  border-bottom-right-radius: 1em;
  margin-block-start: 2em;
  margin-block-end: 2em;

  border-color: var(--blue-1);
  border-width: 3px;
  border-bottom-style: solid;
  border-right-style: solid;
  box-shadow: 5px 5px 5px -2px var(--blue-3);
}

.explanation h1 {
  margin-bottom: 0;
}








.yellowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  background: linear-gradient(45deg, var(--yellow-1), var(--yellow-2), var(--yellow-3));
  clip-path: polygon(
    0 10vw,
    20vw 0,
    100vw 0,
    100vw calc(100% - 10vw),
    80vw 100%,
    0 100%
  );

  padding-top: 1em;
  padding-bottom: 3em;

  margin-top: 3em;
  margin-bottom: 3em;
}


.pricingRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pricingPoints {
  background-color: var(--blue-1);
  color: var(--light-text);

  border-radius: 0.5em;
  box-shadow: 5px 5px 5px -2px var(--blue-3);

  padding: 0.5em 1em 0.5em 1em;
  margin-right: 3em;

  height: 100%;
  font-size: 1.5em;
}

.pricingPoints ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pricingPoints li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pricingPoints li:before {
  content: '✓';
  font-size: 2em;
  color: var(--green-3);
}

.pricingBreakdown {
  background-color: var(--blue-1);
  color: var(--light-text);

  border-radius: 0.5em;
  box-shadow: 5px 5px 5px -2px var(--blue-3);

  padding: 0 3em 0em 3em;
}

.pricingBreakdown ul {
  list-style-type: none;
  padding-left: 0;
}

.pricingBreakdown li {
  margin-block-start: 1em;;
  margin-block-end: 2em;
}

.pricingBreakdown p {
  margin: 0;
}

.pricingBreakdown p:first-child {
  font-size: 1.5em;
  font-weight: bold;
}

.pricingDescription {
  font-style: italic;
}

.pricingSingle {
  font-size: 1.4em;
}

.pricingBulk {
  font-size: 1.2em;
}






.contact {
  width: 100%;
}

.contact h2 {
  margin-bottom: 1em;
}

.contact h2 span:last-child {
  font-size: smaller;
}

.contact-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4em;

  margin: auto;
  width: 60em;

  margin-top: 4em;
  margin-bottom: 6em;

  padding-left: 0;

  list-style-type: none;
}

.contact-list li a {
  display: flex;
  flex-direction: column;

  font-size: 1.5em;
  color: var(--text);
  text-decoration: none;
  font-weight: bold;
}

.contact-list i {
  font-size: 3em;
  margin-bottom: 0.3em;
  transition-property: color;
  transition-duration: 200ms;
}

.contact-list a:hover i {
  color: var(--green-2)
}

form {
  position: relative;
  width: 30em;
  min-width: 15em;
  max-width: 100%;
  margin: auto;
  margin-top: 3em;
}

form input {
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em;

  border-radius: 0.75em;
  border: none;
  box-shadow: 5px 5px 5px -2px var(--blue-3);

  transition-property: box-shadow;
  transition-duration: 200ms;

  outline: none;
}

form input:focus {
  box-shadow: 3px 3px 5px 2px var(--blue-3);
}

form .cta-button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.cta-detail {
  color: var(--secondary-text);
  margin-block-start: 0.5em;
  font-style: italic;
}

.demo-small-screen-color {
  display: none;

  position: absolute;
  height: 20%;
  top: 50%;
  left: calc(50% - 3em);
  width: 120%;
  transform: translate(-50%, -50%);
  background-color: var(--yellow-1);
  box-shadow: 0px 0px 10em 10em var(--yellow-1);
  clip-path: inset(0px -500px);
}

.mobile-logo {
  display: none;

  width: 80%;
  max-width: 50em;
  margin-bottom: 3em;
}

@media only screen and (min-width: 1600px) {
  .hero h1 {
    align-self: flex-end;
  }

  .hero h2 {
    align-self: center;
  }

  .hero-button-container {
    align-self: flex-start;
  }
}


@media only screen and (max-width: 1600px) {
  .demo-small-screen-color {
    display: initial;
  }

  nav .cta-button {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    margin: 0;
  }

  .hero {
    grid-template-columns: 55fr 45fr;
    margin: auto;
    margin-top: 10em;
    margin-bottom: 0;
    max-width: 90%;
  }

  .hero-button-container {
    grid-column: span 2;
  }

  .hero-button-container form {
    margin-top: 0;
  }

  .demo-container {
    width: 50em;
    max-width: 80vw;
    height: 28em;
    padding-top: 0;

    justify-self: center;

    margin-left: 8em;
    margin-right: 2em;

    grid-column: span 2;
    grid-row: 1;
  }

  .demo {
    height: 25em;
  }
}

@media only screen and (max-width: 1200px) {
  .description {
    grid-template-columns: 1fr 1fr;
  }
  
  .description li {
    border-style: solid;
    border-radius: 0.5em;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 0.7em;
  }

  nav {
    background: none; 
    border: none;
  }

  .logo {
    display: none;
  }

  .demo-container {
    display: none;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .hero h2 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .contact-list {
    grid-template-columns: 1fr;
    width: auto;
  }

  .mobile-logo {
    display: block;
  }

  .pricingPoints {
    margin-right: 1em;
  }

  .pricing {
    padding-bottom: 6em;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.5em;
  }
}
